<h1>Semi-anonymous Blog</h1>
<h4>Where writing careers come to slowly die</h4>

<form action='/login' method='post' id="login" class='center-form'>
  <input name="email" placeholder="email">
  <input type='password' name="password" placeholder="password">
  <div class='wrap-center'>
    <input class='btn' type='submit' value='login'> 
    <a class='btn' href='/users/new'>register</a>
  </div>
</form>