<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  
  <% if logged_in? %>
    <a class='side btn' href='/logout'>logout</a>
  <% end %>

  <% if !logged_in? %>
    <a class='side btn' href='/'>home</a>
  <% end %>

  <a class='side btn' href='/entries'>entries</a>
  <a class='side btn' href='/tags'>tags</a>
  <a id="bottom" class='side btn' href='/users'>writers</a>

  <div class='container'><%= yield %></div>
</body>
</html>
